@font-face {
    font-family: "BravoRGRegular";
    src: url("../fonts/BravoRGRegular.ttf") format("ttf"),
         url("../fonts/BravoRGRegular.woff") format("woff"),
         url("../fonts/BravoRGRegular.woff2") format("woff2"),
}

@font-face {
    font-family: "ceremonious";
    src: url("../fonts/ceremonious_one.ttf") format("ttf"),
        url("../fonts/ceremonious_one.woff") format("woff"),
        url("../fonts/ceremonious_one.woff2") format("woff2"),
}

@font-face {
    font-family: "pfdintext-medium";
    src:  url("../fonts/pfdintextcondpro-medium.ttf") format("ttf"),
          url("../fonts/pfdintextcondpro-medium.woff") format("woff"),
          url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"),
          url("../fonts/pfdintextcondpro-regular.ttf") format("ttf")
}


@font-face {
    font-family: "pfdintext-regular";
    src: url("../fonts/pfdintextcondpro-regular.ttf") format("ttf"),
        url("../fonts/pfdintextcondpro-regular.woff") format("woff"),
        url("../fonts/pfdintextcondpro-regular.woff2") format("woff2"),
}


